<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bypass Tool</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font: 16px Arial;
            margin: 0;
            background-color: #777;
        }

        /*the container must be positioned relative:*/
        .autocomplete {
            position: relative;
            display: inline-block;
        }

        input {
            border: 1px solid transparent;
            background-color: #f1f1f1;
            padding: 10px;
            font-size: 16px;
        }

        input[type=text] {
            background-color: #f1f1f1;
            width: 100%;
        }

        button {
            background-color: DodgerBlue;
            color: #fff;
            cursor: pointer;
            border: 1px solid transparent;
            padding: 10px;
            font-size: 16px;
        }

        input[type=submit] {
            background-color: DodgerBlue;
            color: #fff;
            cursor: pointer;
            border: 1px solid transparent;
            padding: 10px;
            font-size: 16px;
        }

        input[type=submit]:hover {
            background-color: rgb(30, 34, 255);
        }

        table,
        th,
        td {

            padding: 10px;
        }

        .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
        }


        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

        /*when hovering an item:*/
        .autocomplete-items div:hover {
            background-color: #e9e9e9;
        }

        /*when navigating through the items using the arrow keys:*/
        .autocomplete-active {
            background-color: DodgerBlue !important;
            color: #ffffff;
            padding: 10px;
            font-size: 16px;

        }

        button:hover {
            background-color: rgb(30, 34, 255);
        }

        #flags {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #flags td,
        #flags th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #flags tr {
            background-color: #f2f2f2;
        }


        #flags th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: Grey;
            color: white;
        }
        .header {
            padding: 10px;
            text-align: left;
            color: grey;
            background-color: black;
            font-size: 10px;
            color:white;
            }
            .header a:hover {

            color: grey;
            }
            .header a {
            float: right;
            color: #f2f2f2;

            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            }
    </style>

</head>

<body>
    <div class="header">
        <div>
          <img src="{{url_for('static', filename='Logo.png')}}"  width="250" height="50" />
          <a href='http://209.97.169.178:5000/text_recipients'>Text Recipients</a>
          <a href='http://209.97.169.178:5000/'>Bypass Tool</a>
        </div>
      </div>
    <br><br><br><br><br><br>
    <div class="autocomplete" style="width:300px;">
        <input id="station_id" type="text" name="station_id" placeholder="O&M Code" style="height:45px;">
    </div>
    <div style="float: right;margin-right: 50px;">
        <table id="flags">
            <tr>
                <th>Field</th>
                <th>Flag</th>
                <th>Meaning</th>
            </tr>
            <tr>
                <td rowspan="4">GHI</td>
                <td>0</td>
                <td>No flag</td>
            </tr>
            <tr>
                <td>1</td>
                <td>GHI taken from GIS</td>
            </tr>
            <tr>
                <td>2</td>
                <td>GHI taken from Nearest Neighbor</td>
            </tr>
            <tr>
                <td>3</td>
                <td>GHI estimated from historical PR</td>
            </tr>


            <tr>
                <td rowspan="4">LastR</td>
                <td>0</td>
                <td>No flag </td>
            </tr>
            <tr>
                <td>11</td>
                <td>LastR obtained from client/engineer on site (e.g. Photo)</td>
            </tr>
            <tr>
                <td>12</td>
                <td>LastR obtained from irradiation from site or GIS estimation</td>
            </tr>
            <tr>
                <td>13</td>
                <td>LastR obtained from long-term PR estimation</td>
            </tr>
            <tr>
                <td rowspan="4">Eac</td>
                <td>0</td>
                <td>No flag</td>
            </tr>
            <tr>
                <td>21</td>
                <td>Eac obtained from client/engineer on site (e.g. Photo)</td>
            </tr>
            <tr>
                <td>22</td>
                <td>Eac obtained from irradiation from site or GIS estimation</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Eac obtained from long-term PR estimation</td>
            </tr>
        </table>
    </div>
    <input id="date" type="date" name="date">
    <input id="key" type="password" name="key" style="width:200px;height:45px;" placeholder="Secret Key">
    <button id="confirm">Confirm</button>
    <br><br><br>
    <center>
        <div id="results">
            <form method="post" id="frm1">
                <div id="stn_info">
                    <input type="hidden" name="Code" id='station_info'>
                    <input type="hidden" name="Date" id='date_actual'>
                </div>
                <table id="results_table"> </table>
    </center>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;
    <input type="submit" id='submit'><br>
    </form>
    </div>

</body>
<script>
    var submit_button = document.getElementById("submit");
    submit_button.onclick = function () {
        var form = document.getElementById("frm1");
        const FD = new FormData(form);
        console.log(FD)
        const xhr = new XMLHttpRequest()
        xhr.open('POST', "/update_data", false)
        xhr.send(FD)
        if (xhr.readyState === 4 && xhr.status === 200) {
            var JSON_received = JSON.parse(xhr.responseText);
            //handle received JSON here
            display2(JSON_received)
        }
    }
    document.getElementById("submit").addEventListener("click", function (event) {
        event.preventDefault()
    });
    var confirm_button = document.getElementById("confirm");
    confirm_button.onclick = function () {
        var stn = document.getElementById("station_id").value;
        var date = document.getElementById("date").value;
        var key = document.getElementById("key").value;
        const xhr = new XMLHttpRequest()
        xhr.open('POST', "/get_data", false)
        query = { "Id": stn, "Date": date, "Key": key }
        xhr.send(JSON.stringify(query))
        if (xhr.readyState === 4 && xhr.status === 200) {
            var JSON_received = JSON.parse(xhr.responseText);
            if (JSON_received == 'Incorrect Secret Key' || JSON_received == 'Site not automated') {
                display2(JSON_received)
            } else {
                display(JSON_received[0])
            }
            //handle received JSON here

        }
    }


    function display(result_list) {
        var keys = Object.keys(result_list);
        var vals = Object.values(result_list);
        var stn = document.getElementById("station_id").value;
        var date = document.getElementById("date").value;
        console.log('printing')
        console.log(date_actual)
        var table = document.getElementById("results_table")
        var stn_info = document.getElementById("station_info")
        var date_actual = document.getElementById("date_actual")
        stn_info.value = stn
        date_actual.value = date
        var tr = table.getElementsByTagName("tr")
        if (tr.length > 0) {
            table.innerHTML = ""
        }
        console.log(keys.length)
        for (var i = 0, len = keys.length; i < len; i++) {
            var row = document.createElement("tr")
            var data = document.createElement("td")
            var textbox = document.createElement("INPUT")
            if(i==len-1){	
                textbox.setAttribute("type", "hidden");	
            }else{	
                textbox.setAttribute("type", "text");	
                data.innerHTML = keys[i]	
            }
            textbox.setAttribute("name", keys[i])
            textbox.defaultValue = vals[i]
            row.appendChild(data)
            row.appendChild(textbox)
            table.appendChild(row)
        }
    }
    function display2(result_list) {
        console.log("reached")
        var table = document.getElementById("results_table")
        table.setAttribute("style", "margin-right:757px;")
        var tr = table.getElementsByTagName("tr")
        if (tr.length > 0) {
            table.innerHTML = ""
        }
        for (i = 0; i < result_list.length; i++) {
            var row = document.createElement("tr")
            var data = document.createElement("td")
            console.log(result_list[i])
            if (result_list[i] == 'Success') {
                data.setAttribute("style", "background-color:#00FF00")
            } else {
                data.setAttribute("style", "background-color:#FF0000")
            }
            data.innerHTML = result_list[i]
            row.appendChild(data)
            table.appendChild(row)
        }
    }
</script>

</html>